[user]
	name = Hoomaan
	email = hoomaanx@gmail.com

[alias]
	d = pull
	p = push
	st = status
	co = checkout
	br = branch
	cm = commit
	df = diff
	lg = log --oneline --graph --all --decorate

[include]
	path = ~/.gitconfig.local
